/* Responsive sizing of bricks */

@media (max-width: 770px) and (min-width: 500px) {
  .jot-item { width: 50% !important; }
}

@media (max-width: 1150px) and (min-width: 770px) {
  .jot-item { width: 33.333% !important; }
}

@media (min-width: 1150px) {
  .jot-item { width: 25% !important; }
}


/* Mobile display adjustments */
@media (max-width: 770px) {

  a.jot-item-delete {
  	display: block !important;
  }

  a.inset-button {
		display: none !important;
	}

  div.crumb.last {
  	background: none;
}

}
